<!-- display the homepage -->
<h1>Dance Review</h1>
<p>All you need to know about the London dance scene</p>

<div class="row rowStyle">
	<% @reviews.each do |review| %>
		<div class="col-md-6">
		  <h3><a href="/<%= review.id%>"><%= review.title %></a></h3>
		  <p><%= review.body %></p>
		</div>
	<% end %>
</div>