<!-- form for user to enter car -->

<form action="/<%= car[:id] %>" method="POST">
	<div>
		<label>Make</label>
		<input type="text" name="title" placeholder="enter a Title">
	</div>
	<div>
		<label>Model</label>
		<textarea name="content" placeholder="The Content goes here"></textarea>
	</div>
	<div>
		<input type="submit" value="Save Post">
	</div>
</form>