<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Venue-Review</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="/new">New Venue</a>
      </li>
    </ul>
  </div>
</nav>

<!-- 	<nav>
		<a href="/">Venues</a>
		<a href="/new">New Venue</a>
	</nav> -->